{% extends "../../base.html" %}

{% block content %}
  <main>
    <h1>Create new workout</h1>
    <form method="post">
      <div>
        <label for="name">Name</label>
        <input type="text" id="name" name="name" class="text-gray-900">
      </div>
      <div>
        <label for="workoutDate">Date</label>
        <input type="date" id="workoutDate" name="workoutDate" class="text-gray-900">
      </div>
      <div>
        <label for="isDone">Done</label>
        <input type="checkbox" id="isDone" name="isDone">
      </div>
      <button type="submit">Create</button>
    </form>
  </main>
{% endblock %}