<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MyGym</title>
  <link rel="stylesheet" href="/css/output.css" />
  <script src="https://unpkg.com/htmx.org@1.9.9" integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX" crossorigin="anonymous"></script>
</head>
<body class="bg-gray-900 text-white">
  <header class="px-8 py-6 flex items-center justify-between">
    <h1 class="text-4xl font-bold">MyGym</h1>
    <nav>
      <ul class="flex gap-4">
        <li>
          <a href="/">Dashboard</a>
        </li>
        <li>
          <a href="/workouts">Workouts</a>
        </li>
        <li>
          <a href="/history">History</a>
        </li>
      </ul>
    </nav>
  </header>
  <div class="container mx-auto py-6">
    {% block content %}
    {% endblock %}
  </div>
  {% block scripts %}
  {% endblock %}
</body>
</html>