<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MyGym</title>
  <link rel="stylesheet" href="/css/output.css" />
  <script src="https://unpkg.com/htmx.org@1.9.9" integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX" crossorigin="anonymous"></script>
</head>
<body class="bg-gray-900 text-white">
  {% block content %}
  {% endblock %}
  {% block scripts %}
  {% endblock %}
</body>
</html>